*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   display: flex;
   justify-content: center;
  flex-direction: column;
}
#total-cal{
    display: flex ;
    justify-content: center;
    font-style: italic ;
    background-image: url("https://th.bing.com/th/id/OIP.fsmRHB8Z3_sNXe_1f_A2DAHaEK?pid=ImgDet&rs=1");
     color: red;
    border-radius: 2em;
  
}
#total{
  background-color: white;
  border: #000 thick;
  border-radius: 4px;

}
.tot{
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
background-color:wheat;
color: #000;
box-shadow: palegreen;
border-radius: 10px;

}
#mylist{
    background-image: url("https://phonoteka.org/uploads/posts/2021-05/thumbs/1620219032_28-phonoteka_org-p-fon-dlya-prezentatsii-po-zhurnalistike-41.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 150px;
    flex-wrap: wrap;
    justify-content:space-evenly;
   
}
.qte{
  padding: 5px;
  background-color:gray;
  color: white;
  font-size: larger;
  border-radius: 1em;
}
#contact{
  background-image: url("https://st3.depositphotos.com/3997585/16105/v/450/depositphotos_161050370-stock-illustration-white-abstract-wave-lines-background.jpg");
  
}
.logo{
  border: solid 1px #ddd;
  font-size: 14px;
  font-weight: 100;
  padding: 0px;
  text-align: center;
  text-transform: uppercase;
  height: 130px;

}
#inf{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color:whitesmoke;
  color: #000;
}
#link{
  display: flex;
 justify-content:space-around;
  color: #000;
  margin: 0px px 10px 0px 10px  ; 
}
